body {
  background-color: #bbb;
}

.yellow {
  background-color: #e8ead3;
  border-radius: 0 0 10px 10px
}

#math {
  background-color: #ceceb7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  min-width: 250px;
}

.btn {
  margin: 10px 0;
}

h1 {
  font-size: 2em;
  line-height: 2em;
}

#result {
  margin-top: 20px;
  height: 3em;
  font-size: 2em;
}

#number1, #number2 {
  height: 2.5em;
  font-size: 1.5em;
}